src/main/mule/sales.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <http:listener-config name="sales-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="sales-config" api="resource::9148ec89-4f01-4636-83cf-50043c8a4b39:sales:1.0.0:raml:zip:sales.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="206a2d57-65df-4470-8fba-bda53db4cb2a" >
		<salesforce:basic-connection username="zeeshan.mohd@prowesssoft.com" password="DADth19@" securityToken="x5K4Cz0caWRjwbfLnaVSfbHz" url="https://login.salesforce.com/services/Soap/u/56.0" />
	</salesforce:sfdc-config>
	<api-gateway:autodiscovery apiId="19912819" ignoreBasePath="true" doc:name="API Autodiscovery" doc:id="b14c97ea-54e6-4077-a754-d2331ac1656c" flowRef="sales-main" />
	<salesforce:sfdc-config name="Salesforce_Config1" doc:name="Salesforce Config" doc:id="b61de3c3-ea90-4a0c-b71f-d05da0217c5f" >
		<salesforce:basic-connection username="zeeshan.mohd@prowesssoft.com" password="DADth19@" securityToken="x5K4Cz0caWRjwbfLnaVSfbHz" url="https://login.salesforce.com/services/Soap/u/56.0" />
	</salesforce:sfdc-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="ee2bae72-9f31-405b-a18c-475389f8692b" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="12345" database="salesforce" />
	</db:config>
	<flow name="sales-main">
        <http:listener config-ref="sales-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="sales-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="sales-console">
        <http:listener config-ref="sales-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="sales-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="post:\contacts:application\json:sales-config">
        <logger level="INFO" message="post:\contacts:application\json:sales-config" />
    </flow>
	<flow name="salesFlow" doc:id="adc81f37-52e7-4ed5-bf86-d0967be647be" >
		<http:listener doc:name="Listener" doc:id="4b5739bb-7943-4bf8-9f89-79ebf5b8ea6f" config-ref="sales-httpListenerConfig" path="/api/sal"/>
		<ee:transform doc:name="Transform Message" doc:id="371a7181-cb15-43a8-826c-63de5ef3cc4b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:create doc:name="Create" doc:id="c42162cd-3d73-4e56-a8fa-17567607f43a" config-ref="Salesforce_Config" type="Contact"/>
		<ee:transform doc:name="Transform Message" doc:id="0f5551d3-fd08-4aa0-a45e-f4128789222b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="salesFlow1" doc:id="db020b6c-efbb-4d22-b639-6bbe6256a7d3" >
		<salesforce:modified-object-listener doc:name="On Modified Object" doc:id="ee144db5-6621-45b4-85c8-3a33a8b72cdb" config-ref="Salesforce_Config" objectType="Lead">
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</salesforce:modified-object-listener>
		<ee:transform doc:name="Transform Message" doc:id="6f73222a-0ab8-46a6-a781-572ee143dca8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:insert doc:name="Insert" doc:id="3f0efd30-3ea0-4fb6-948a-b5ec088c02b4" config-ref="Database_Config">
			<db:sql ><![CDATA[INSERT INTO salesforce.leads (Name, Company, Status, Title) VALUES (:Name,:Company,:Status,:Title);]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
  "Name" : payload.Name,
 "Company"  : payload.Company ,
  "Status" : payload.Status, 
  "Title" : payload.Title
  }]]]></db:input-parameters>
		</db:insert>
		<logger level="INFO" doc:name="Logger" doc:id="fa8eac93-a40b-4883-befe-553e42c7439e" message="#[payload]"/>
	</flow>
</mule>
